#willisTitle {
  text-align: center;
  color: blue;
}
table,
th,
td {
  background-color: lightgreen;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
}

#willisPic,
#willisVideo {
  height:300px;
  width: 225px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


.classHidden {
  display: none !important;
}

#link {
  text-align: center;
}

.date {
  text-align: center;
}

.centerClass {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: lightblue;
  margin-bottom: 100px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;

}
